<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Помилка</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Щось пішло не так!</h1>
    <p>Сторінку не знайдено або сталася помилка.</p>
    <a href="/">Повернутися на головну</a>
</body>
</html>